

.container{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.2em;
    grid-row-gap: 0px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0.2em;
    padding: 0.3em;
    min-width: 1050px;

}
.containerCell {
    display: flex;
    justify-content: center;
    padding-left: 0.3em;
    align-items: center; /* Cambiado de baseline a center */
    position: relative;
    background-color: #48bac9ee;
    border-radius: 4px;
}

.containerCell p{
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    text-align: center; /* Alinea el texto horizontalmente */
    display: inline-block; /* Permite centrar verticalmente el texto */
    vertical-align: middle; 
    color: #f0fafb;
    font-weight: 600;
    padding: 0.3em;
}


.divDate { grid-area: 1 / 1 / 2 / 3; }
.divHour { grid-area: 1 / 3 / 2 / 5; }
.divState {grid-area: 1 / 5 / 2 / 7; }
.divEspecialist { grid-area: 1 / 7 / 2 / 10; }


@media (max-width: 1100px) {
    .container {
        display: none; /* Oculta el componente en pantallas más pequeñas */
    }
}