@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.ContainerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    margin: 1em;

}

.ContainerMain h1{
    font-family: "poppins", sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #296775;
}

.ContainerMain h3{
    font-size: 1em;
    font-weight: 400;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; } 

.card{
    display: flex;
    flex-direction: row;
    border: #29677583 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1em;
    gap: 1.3em;
    border-radius: 10px;
    margin: 2em;
}

.imgContainer{
    width: 10em;
}

.imgContainerRedondo{
    position: relative;
    border-radius: 50% !important;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imgContainerRedondo img{
    width: 100%;
    object-fit: cover;
}

.card h4{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: #296775;
}

.card p{
    margin-top: 0px;
}

.iconos{
    font-size: 1.5em;
    color: #296775;
}

.iconos .icono{
    margin-right: 0.3em;
}
