.mainContainer{ 
    background: rgb(150,225,233);
    background: linear-gradient(214deg, rgba(150,225,233,1) 6%, rgba(151,223,232,1) 25%, rgba(135,210,220,1) 50%, rgba(113,192,212,1) 72%); 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:end;
    padding-top: 1em;
    padding-right: 5%;
}

.mainContainer img{
    height: 70% !important;
}


.containerForm{
    padding-bottom: 5%;
}