.mainContainer{ 
    background: rgb(199, 230, 238);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: end;
    padding-top: 40px;

}

.nullUser{
    background-color: #ffffff;
}

.formuario{
    margin-bottom: 3em;
}